.*.swp
*.pyc
*.o
*.bak
*.orig
*~
__pycache__/
/dist/
/build/
/.lightbts
/COPYING
/ChangeLog
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
Makefile
Makefile.in

