*.pyc
*.o
*.bak
*.orig
*.gc??
*~
.*
!.gitignore
core
core.*
vgcore.*
__pycache__/
/dist/
/build/
/.lightbts
/COPYING
/ChangeLog
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/*.tar.gz
/*-coverage*
Makefile
Makefile.in
