<!DOCTYPE html>
<html>
<head>
<title>LightBTS</title>
<link rel="stylesheet" type="text/css" href="{{root}}lightbts.css">
</head>
<body>
<header>
	<h1>LightBTS</h1>
</header>
<p>List of bugs:</p>
<table id="buglist">
	<colgroup>
		<col class="id">
		<col class="status">
		<col class="severity">
		<col class="title">
	</colgroup>
	<thead>
		<tr>
			<th>Bug#</th><th>Status</th><th>Severity</th><th>Title</th>
		</tr>
	</thead>
	<tbody>
	{{#bugs}}
		<tr>
			<td><a href="?bug={{id}}">{{id}}</a></td>
			<td>{{status}}</td>
			<td>{{severity}}</td>
			<td><a href="?bug={{id}}">{{title}}</a></td>
		</tr>
	{{/bugs}}
	{{^bugs}}
		<tr>
			<td colspan="4">No bugs found.</td>
		</tr>
	{{/bugs}}
	</tbody>
</table>
<footer>
	<p>
	{{copyright}}
	</p>
</footer>
</body>
</html>
